.rows-style {
    display: block;
    // flex-direction: column;
}

.step-style {
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    background-color: aquamarine;
}
.qrcode-style {
    height: 300px;
    display: flex;
    justify-content: center;
}
